header {
    background-color: rgb(48, 175, 191);  
}

header ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    
}

header li {
    float: left;
}

header a:hover {
    background-color: orange;
    color: white;
}

header a {
    display: block;
    text-decoration: none;
    color: black;
    font-family: 'Lobster', cursive;
    font-size: x-large;
    padding: 14px 16px;
    text-align: center;
}


