<!--Header component-->
<header> 
  <nav>
    <ul>
      <li>
        <a href="#" >Home</a>
      </li>
      <li>
        <a href="#">Photos</a>
      </li>
      <li>
        <a href="#">New Photo</a>
      </li>
      <li style="float: right">
        <a href="#">Login</a>
      </li>
      <li style="float: right" >
        <a href="#">Register</a>
      </li>
      <li style="float: right">
        <a href="#">My Profile</a>
      </li>
      <li style="float: right">
        <a href="#">Logout</a>
      </li>
    </ul>
  </nav>
  <div class="welcome">
    <h1>WELCOME TO</h1>
    <p>Memory Wall</p>
    <button class="get-started">Get Started</button>
  </div>
  
</header>

<!--Home Page-->

<div class="home-desc">
  <div>
    <h1>Memory Wall</h1>
    <h5>This is a website where you can share links of your favourite pictures, photos and images with people around the world.
      You can also write descriptions about your photo and like other peoples pictures too.
    </h5>
  </div>
  <img src="https://icons-for-free.com/iconfiles/png/512/Free+Set+copy+Camera-1320568198670059951.png" alt="DoodleCamera">
</div>

<!--Auth-->

<div class="auth-content">
  <form action="">
    <div>
      <label>Username</label>
      <input type="text" name="username" class="text-input">
    </div>

    <div>
      <label>Email</label>
      <input type="email" name="email" class="text-input">
    </div>

    <div>
      <label>Password</label>
      <input type="password" name="password" class="text-input">
    </div>

    <div>
      <label>Repeat Password</label>
      <input type="password" name="passwordRepeat" class="text-input">
    </div>

    <div>
      <button type="submin" name="register-btn" class="submit-btn">Register</button>
    </div>
  </form>

  <form action="">
    <div>
      <label>Email</label>
      <input type="email" name="email" class="text-input">
    </div>

    <div>
      <label>Password</label>
      <input type="password" name="password" class="text-input">
    </div>

    <div>
      <button type="submit" name="login-btn" class="submit-btn">Login</button>
    </div>
  </form>
</div>

<!--Photos Form-->

<div class="photo-content">
  <form action="">
    <div>
      <label>Title</label>
      <input type="text" name="title" class="text-input">
    </div>
    
    <div>
      <label>Image Url</label>
      <input type="url" name="imgUrl" class="text-input">
    </div>

    <div>
      <label>Description</label>
      <textarea name="description" id="description-area" cols="30" rows="10"></textarea>
    </div>

    <div>
      <button type="submit" name="photo-btn" class="submit-btn">Upload</button>
    </div>
  </form>
</div>

<!--Photo Details-->

<div class="ph-details">
  <img src="https://wallpapercave.com/wp/wp2587127.jpg" alt="Not working" width="600" height="400">
  <div class="details">
    <h1>Title Here</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porta non enim non mattis. Ut ut posuere justo. Etiam quam ipsum, auctor aliquet ante in, ullamcorper ultrices quam. Vestibulum placerat sem velit, nec imperdiet augue pellentesque sit amet. Quisque in quam nec mi accumsan semper. Vivamus aliquet ipsum et libero fringilla eleifend. Praesent sed porta urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc at libero nibh. Vivamus id tincidunt ex. Maecenas vulputate commodo lorem, quis vulputate tellus viverra at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam euismod ex felis, at luctus urna tempor at. Sed ac sem non tortor luctus pretium.</p>
    <div class="crud-btns">
      <button name="like-btn" class="crud-btn like-btn">Like</button>
      <button name="edit-btn" class="crud-btn edit-btn">Edit</button>
      <button name="delete-btn" class="crud-btn delete-btn">Delete</button>
    </div>
    
  </div>
</div>

<!--Photos Gallery-->
<div class="gallery">
  <a href="#">
    <img src="https://wallpapercave.com/wp/wp2587127.jpg" alt="Not working" width="600" height="400">
  </a>
  <div class="title">Title Here</div>
</div>

<div class="gallery">
  <a href="#">
    <img src="https://wallpapercave.com/wp/wp2587127.jpg" alt="Not working" width="600" height="400">
  </a>
  <div class="title">Title Here</div>
</div>

<div class="gallery">
  <a href="#">
    <img src="https://wallpapercave.com/wp/wp2587127.jpg" alt="Not working" width="600" height="400">
  </a>
  <div class="title">Title Here</div>
</div>

<div class="gallery">
  <a href="#">
    <img src="https://wallpapercave.com/wp/wp2587127.jpg" alt="Not working" width="600" height="400">
  </a>
  <div class="title">Title Here</div>
</div>




<!--Footer Component-->

<footer>
  This page was created for a project!
</footer>

<router-outlet></router-outlet>

