<div class="welcome">
  <p>Memory Wall</p>
  <h1>Welcome!</h1>
  <button class="get-started" *ngIf="!userService.isUserEmailLoggedIn" routerLink="/user/login">Get Started</button>
</div>
<div class="home-desc">
    <div>
      <h1>Memory Wall</h1>
      <h5>This is a website where you can share links of your favourite pictures, photos and images with people around the world.
        You can also write descriptions about your photo
        and like other peoples pictures too.
      </h5>
    </div>
    <img src="https://icons-for-free.com/iconfiles/png/512/Free+Set+copy+Camera-1320568198670059951.png" alt="DoodleCamera">
  </div>
